*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 15px;
    line-height: 1.8;
    font-weight: normal;
}

.apphome{
    position: absolute;
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #232223, #000 );
}

.apphome::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0rem;
    z-index: 10;
    border-top: 1px solid rgba(255,255,255,0.5);
    background: rgb(167 31 31 / 10%);
    backdrop-filter: blur(10px);

}

.apphome .color{
    position: absolute;
    filter: blur(150px);
}

/* .apphome .color:nth-child(1)
{
    top: -350px;
    background: #1d0c0c;
    width: 600px;
    height: 600px;
}

.apphome .color:nth-child(2)
{

    bottom: -150px;
    left: 100px;
    background: #1d1714;
    width: 500px;
    height: 500px;
}

.apphome .color:nth-child(3)
{
    bottom: -50px;
    right: 0;
    background: #080707;
    width: 300px;
    height: 300px;
}    */

.app-ul{
    position: relative;
    display: flex;

}

.app-ul .app-li
{
    position: relative;
    list-style: none;
    margin: 30px;

}

.app-ul .app-li a {
    position: relative;
    top: 0;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #810B25;
    font-size: 5em;
    border: 1px solid #810B25;
    border-right: 1px solid #810B25;
    border-bottom: 1px solid #810B25;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.597);
    backdrop-filter: blur(4px);
    z-index: 1;
    box-shadow: 0 5px 45px rgba(0,0,0,0.1);
    text-decoration: none;
    overflow: hidden;
    transition: top 0.5s, z-index 0s, transform 0.5s;
    transition-delay: 0.5s, 0.5s, 0s;
}

ul {
    padding-left: 0rem !important;
}

.app-ul .app-li a:hover{
    transition-delay: 0s, 0.5s, 0.5s;
    top: -50px;
    transform: translateY(50px);
    z-index: 11;
    border: 1px solid #ff4e00;
    border-right: 1px solid #ff4e00;
    border-bottom: 1px solid #ff4e00;
    color: #ff4e00;

}

.app-ul .app-li a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    background: rgba(221, 7, 7, 0.5);
    transform: skewX(45deg) translateX(300px);
    transition: 0.5s;
}

.app-ul .app-li a:hover:before{
    transform: skewX(45deg) translateX(-150px);
}

footer {
    background-color: rgb(227, 9, 9);
    position: absolute;
    bottom: 0;
    width: 100%;
   
    color: white;
  }

  .p-4 {
    padding: 2.5rem!important;
}